@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --site-height: 100%;
}

a {
  color: #f0b707;
  color: #f0b707;
}
a:hover {
  color: #801ed7;
}

html {
  background-color: #801ed7;
}

body {
  background: linear-gradient(168deg, #801ed7 16%, #ffffff 16%, #ffffff 84%, #801ed7 84%);
  font-family: "Roboto", sans-serif;
  min-height: var(--site-height);
}
@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(168deg, #801ed7 16%, #292929 16%, #292929 84%, #801ed7 84%);
    color: #ffffff;
  }
}

header {
  height: var(--site-height);
}

.card {
  background-color: lightgray;
  border-radius: 16px;
  margin-bottom: 16px;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.card .card-img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.card .tags {
  bottom: 8px;
  display: flex;
  position: absolute;
  right: 8px;
}
.card .tags .tag {
  background-color: #801ed7;
  border-radius: 16px;
  color: #ffffff;
  margin-right: 8px;
  padding: 8px 16px;
}
.card .tags .tag:last-of-type {
  margin-right: 0;
}

.text-color-accent {
  color: #801ed7;
}

.text-color-complementary {
  color: #f0b707;
}

.text-decoration-color-accent {
  text-decoration-color: #801ed7;
}

[class^=icon] {
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  width: 24px;
}

.icon-github {
  background-image: url(icons/github--dark.svg);
}
@media (prefers-color-scheme: dark) {
  .icon-github {
    background-image: url(icons/github--light.svg);
  }
}

.icon-linkedin {
  background-image: url(icons/linkedin--dark.svg);
}
@media (prefers-color-scheme: dark) {
  .icon-linkedin {
    background-image: url(icons/linkedin--light.svg);
  }
}

.icon-twitter {
  background-image: url(icons/twitter--dark.svg);
}
@media (prefers-color-scheme: dark) {
  .icon-twitter {
    background-image: url(icons/twitter--light.svg);
  }
}

.icon-telegram {
  background-image: url(icons/telegram--dark.svg);
}
@media (prefers-color-scheme: dark) {
  .icon-telegram {
    background-image: url(icons/telegram--light.svg);
  }
}